<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header.ejs') %>
  <%- body %> 
  <%- partial('_partial/footer.ejs') %>
  
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <%- partial('_partial/scripts.ejs') %>
  <script src="/js/my.js"></script>
</body>
</html>
