<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header.ejs') %>
  <%- body %> 
  <%- partial('_partial/footer.ejs') %>
  <%- partial('_partial/scripts') %>
</body>
</html>
